PIDEV-FRONTEND/.vs/PIDEV-FRONTEND/v16/Server/sqlite3/db.lock
PIDEV-FRONTEND/.vs/ProjectSettings.json
PIDEV-FRONTEND/.vs/slnx.sqlite
PIDEV-FRONTEND/.vs/VSWorkspaceState.json
PIDEV-FRONTEND/PIDEV-FRONTEND/.vs/ProjectSettings.json
PIDEV-FRONTEND/PIDEV-FRONTEND/.vs/slnx.sqlite
PIDEV-FRONTEND/PIDEV-FRONTEND/.vs/VSWorkspaceState.json
PIDEV-FRONTEND/PIDEV-FRONTEND/.vs/PIDEV-FRONTEND/v16/.suo
PIDEV-FRONTEND/PIDEV-FRONTEND/obj/Release/PIDEV-FRONTEND.csproj.CoreCompileInputs.cache
