
@{
    ViewBag.Title = "SubscriptionPricing";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<!-- ============================ Page Title Start================================== -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Pricing</h2>
                <span class="ipn-subtitle">Lists of our all Popular agencies</span>

            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Price Table Start ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center">
                    <h2>See our packages</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Package -->
            <div class="col-lg-4 col-md-4">
                <div class="pricing-wrap basic-pr">

                    <div class="pricing-header">
                        <h4 class="pr-value"><sup>TND</sup>30</h4>
                        <h4 class="pr-title">Basic Package</h4>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li class="available">5+ Listings</li>
                            <li class="available">Contact With Agent</li>
                            <li class="available">3 Month Validity</li>
                            <li>Visual Property tour</li>
                            <li>50GB Space</li>
                        </ul>
                    </div>
                    <div class="pricing-bottom">
                        <a href="#" class="btn-pricing">Choose Plan</a>
                    </div>

                </div>
            </div>

            <!-- Single Package -->
            <div class="col-lg-4 col-md-4">
                <div class="pricing-wrap platinum-pr recommended">

                    <div class="pricing-header">
                        <h4 class="pr-value"><sup>TND</sup>60</h4>
                        <h4 class="pr-title">Gold Package</h4>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li class="available">5+ Listings</li>
                            <li class="available">Contact With Agent</li>
                            <li class="available">3 Month Validity</li>
                            <li class="available">Visual Property tour</li>
                            <li>50GB Space</li>
                        </ul>
                    </div>
                    <div class="pricing-bottom">
                        <a href="#" class="btn-pricing">Choose Plan</a>
                    </div>

                </div>
            </div>

            <!-- Single Package -->
            <div class="col-lg-4 col-md-4">
                <div class="pricing-wrap standard-pr">

                    <div class="pricing-header">
                        <h4 class="pr-value"><sup>TND</sup>90</h4>
                        <h4 class="pr-title">Platinum Package</h4>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li class="available">5+ Listings</li>
                            <li class="available">Contact With Agent</li>
                            <li class="available">3 Month Validity</li>
                            <li class="available">Visual Property tour</li>
                            <li class="available">50GB Space</li>
                        </ul>
                    </div>
                    <div class="pricing-bottom">
                        <a href="#" class="btn-pricing">Choose Plan</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!-- ============================ Price Table End ================================== -->
<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call-to-act">
                    <div class="call-to-act-head">
                        <h3>Want to Become a Real Estate Agent?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                </div>

            </div>
        </div>
    </div>
</section>

