
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<!-- ============================ Page Title Start================================== -->
<script>
 function showPwd(id, el) {
  let x = document.getElementById(id);
  if (x.type === "password") {
    x.type = "text";
    el.className = 'fa fa-eye-slash showpwd';
  } else {
    x.type = "password";
    el.className = 'fa fa-eye showpwd';
  }
    }
    
</script>

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Welcome!</h2>
                <span class="ipn-subtitle">Welcome To Your Account</span>

            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="filter_search_opt">
                    <a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-12">

                <div class="simple-sidebar sm-sidebar" id="filter_search">

                    <div class="search-sidebar_header">
                        <h4 class="ssh_heading">Close Filter</h4>
                        <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                    </div>

                    <div class="sidebar-widgets">
                        <div class="dashboard-navbar">

                            <div class="d-user-avater">

                                <img src="~/Content/img/profileImages/@ViewBag.user.profilePic" class="img-fluid avater" alt="#">
                                <h4>@ViewBag.user.firstName @ViewBag.user.lastName</h4>
                            </div>

                            <div class="d-navigation">
                                <ul>
                                    <li><a href="~/AppUser/dashboard"><i class="ti-dashboard"></i>Dashboard</a></li>
                                    <li class="active"><a href="~/AppUser/profile"><i class="ti-user"></i>My Profile</a></li>
                                    <li><a href="~/AppUser/bookmarks"><i class="ti-bookmark"></i>Bookmarked Listings</a></li>
                                    <li><a href="~/AppUser/myproperty"><i class="ti-layers"></i>My Properties</a></li>
                                    <li><a href="~/AppUser/submitPropertyDashboard"><i class="ti-pencil-alt"></i>Submit New Property</a></li>
                                    <li><a href="~/AppUser/changePassword"><i class="ti-unlock"></i>Change Password</a></li>
                                    <li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="dashboard-wraper">

                    <!-- Basic Information -->
                    @using (Html.BeginForm("changePassword", "AppUser"))
                    {
                    <div class="form-submit">
                        <h4>Change Your Password</h4>
                        <div class="submit-section">
                            <div class="row">

                                <div class="form-group col-lg-12 col-md-6">
                                    <label>Old Password</label>
                                    <input type="password" class="form-control" name="old" id="old">
                                    <i class="fa fa-eye showpwd" onClick="showPwd('old', this)"></i>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" name="newPass" id="passwd">
                                    <i class="fa fa-eye showpwd" onClick="showPwd('passwd', this)"></i>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Confirm password</label>
                                    <input type="password" class="form-control" name="newPassConfirm" id="newpwd">
                                    <i class="fa fa-eye showpwd" onClick="showPwd('newpwd', this)"></i>
                                </div>

                                <div class="form-group col-lg-12 col-md-12">
                                    <button class="btn btn-theme-light-2 rounded" type="submit">Save Changes</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ============================ User Dashboard End ================================== -->
<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call-to-act">
                    <div class="call-to-act-head">
                        <h3>Want to Become a Real Estate Agent?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Call To Action End ================================== -->
